@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@import url("../styles/fonts/stylesheet.css");

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  transition: all ease 0.3s;

  &:hover {
    color: #29d306;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

@-webkit-keyframes location-rotate {
  0% {
    transform: translate(0, -2px) rotate(0deg);
  }
  75% {
    transform: translate(0, -2px) rotate(360deg);
  }
  100% {
    transform: translate(0, -2px) rotate(360deg);
  }
}

$primary: #656d78;

.nav-fade {
  position: absolute;
  width: 100%;
  left: 0;
  height: 300px;
  pointer-events: none;
  top: 0;
  background: linear-gradient(
    to bottom,
    black 0%,
    rgba(0, 0, 0, 0.738) 19%,
    rgba(0, 0, 0, 0.541) 34%,
    rgba(0, 0, 0, 0.382) 47%,
    rgba(0, 0, 0, 0.278) 56.5%,
    rgba(0, 0, 0, 0.194) 65%,
    rgba(0, 0, 0, 0.126) 73%,
    rgba(0, 0, 0, 0.075) 80.2%,
    rgba(0, 0, 0, 0.042) 86.1%,
    rgba(0, 0, 0, 0.021) 91%,
    rgba(0, 0, 0, 0.008) 95.2%,
    rgba(0, 0, 0, 0.002) 98.2%,
    transparent 100%
  );
  z-index: 2;
  opacity: 0.7;
}

header {
  a {
    color: #212529;
  }

  .name {
    font-family: "monument_extendedbold";
    text-transform: uppercase;
  }

  .social {
    z-index: 99;
    ul {
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        a {
          padding: 10px 0;
          margin-left: 20px;
        }
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "monument_extendedbold";
  text-transform: uppercase;
}

.head__page {
  margin-bottom: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e1e1e1;
}

.btn {
  background-color: $primary;
  color: white;
  text-decoration: none;
  padding: 15px 25px;
  display: inline-flex;
  border-radius: 10px;

  &:hover {
    color: white;
  }
}

.primary-color {
  color: $primary;
}

.hero {
  background: url("https://images.unsplash.com/photo-1573169128228-31137c599d3d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80");
  min-height: 500px;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;
  color: white !important;

  .scafeli {
    width: 380px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }

  .header__hero {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    color: white !important;
    z-index: 9999999;

    p {
      color: white;
    }
  }

  .location {
    position: absolute;
    bottom: 30px;
    left: 40px;
    display: flex;
    align-items: center;
    z-index: 99;

    svg {
      margin-right: 10px;
      transform: translate(0, -2px);
      -webkit-animation: location-rotate 2s ease-in-out;
      -webkit-animation-iteration-count: infinite;
    }
  }

  .social {
    z-index: 99;
    ul {
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        a {
          color: white;
          padding: 10px 0;
          margin-left: 20px;
        }
      }
    }
  }

  .developer {
    position: absolute;
    bottom: 30px;
    right: 40px;
    z-index: 99;
  }
}

.content__one {
  padding: 120px 0;

  h3 {
    line-height: 1.7;
    margin-bottom: 0;
  }

  a {
    color: $primary;
  }
}

.content_ctas {
  background: #000;
  color: white;
  padding: 60px 0;
}

.back {
  color: #1f2937;
  display: flex;
  align-items: center;
  svg {
    margin-right: 5px;
  }
}

.bottom-fade {
  width: 100%;
  bottom: 0;
  height: 300px;
  opacity: 0.6;
  z-index: 0;
  float: left;
  position: absolute;
  background: linear-gradient(
    to top,
    black 0%,
    rgba(0, 0, 0, 0.738) 19%,
    rgba(0, 0, 0, 0.541) 34%,
    rgba(0, 0, 0, 0.382) 47%,
    rgba(0, 0, 0, 0.278) 56.5%,
    rgba(0, 0, 0, 0.194) 65%,
    rgba(0, 0, 0, 0.126) 73%,
    rgba(0, 0, 0, 0.075) 80.2%,
    rgba(0, 0, 0, 0.042) 86.1%,
    rgba(0, 0, 0, 0.021) 91%,
    rgba(0, 0, 0, 0.008) 95.2%,
    rgba(0, 0, 0, 0.002) 98.2%,
    transparent 100%
  );
}

.cards__home {
  padding: 100px 0;
  .cards__area {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .fade-in {
      transition: all 2s cubic-bezier(0.87, 0, 0.13, 1);
      opacity: 0;
    }

    .appear {
      opacity: 1;
    }

    .card__item {
      position: relative;
      height: 400px;

      min-width: calc(25% - 22.5px);
      color: #777777;

      &:nth-child(2) {
        margin-top: -60px;
      }

      &:nth-child(4) {
        margin-top: -60px;
      }

      .img__link {
        position: absolute;
        height: 70px;
        z-index: 9999;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.9);
        transition: all ease 0.3s;
      }

      .bottom__link {
        position: absolute;
        bottom: 20px;
        z-index: 9999999;
        width: 100%;
        text-align: center;
        transition: all ease 0.3s;
        color: white !important;
      }

      &:hover {
        .bottom__link {
          bottom: 27px;
        }

        .img__link {
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }

    .card__about {
      background: url(https://images.unsplash.com/photo-1554508806-5948ebdf7d3c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80);
      background-position: center;
      background-size: cover;
    }

    .card__projects {
      background: url(https://images.unsplash.com/photo-1529767203443-a617595c8825?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
      background-position: center;
      background-size: cover;
    }

    .card__channel {
      background: url(https://images.unsplash.com/photo-1542627270868-c04e59bc60cd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
      background-position: center;
      background-size: cover;
    }

    .card__blog {
      background: url(https://images.unsplash.com/photo-1563253746-350a0a877afa?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80);
      background-position: center;
      background-size: cover;
    }
  }
}

.about__area {
  padding: 60px 0;
}

.img__about {
  max-width: 90%;
  margin: 0 auto;
  height: 300px;
  background: url("https://images.unsplash.com/photo-1496917690447-4b239a568092?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1932&q=80");
  background-position: center;
  background-size: cover;
}

.img__blog {
  max-width: 90%;
  margin: 0 auto;
  height: 300px;
  background: url("https://images.unsplash.com/photo-1496917690447-4b239a568092?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1932&q=80");
  background-position: center;
  background-size: cover;
}

.cards__projects {
  padding: 60px 0;
  .cards__area {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .fade-in {
      transition: all 2s cubic-bezier(0.87, 0, 0.13, 1);
      opacity: 0;
    }

    .appear {
      opacity: 1;
    }

    .card__item {
      position: relative;
      height: 400px;
      margin-bottom: 30px;

      min-width: calc(25% - 22.5px);
      color: #777777;

      // &:nth-child(2) {
      //   margin-top: -60px;
      // }

      // &:nth-child(4) {
      //   margin-top: -60px;
      // }

      .img__link {
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.9);
        transition: all ease 0.3s;
      }

      .bottom__link {
        position: absolute;
        bottom: 20px;
        z-index: 9999999;
        width: 100%;
        text-align: center;
        transition: all ease 0.3s;
        color: white !important;
      }

      &:hover {
        .bottom__link {
          bottom: 27px;
        }

        .img__link {
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }

    .card__adidas {
      background: url(https://i.pinimg.com/564x/59/15/62/5915626e91c70f5a35a486679ea7f711.jpg);
      background-position: center;
      background-size: cover;
    }

    .card__zappy {
      background: url(https://images.unsplash.com/photo-1529767203443-a617595c8825?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
      background-position: center;
      background-size: cover;
    }

    .card__herocontent {
      background: url(https://images.unsplash.com/photo-1542627270868-c04e59bc60cd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
      background-position: center;
      background-size: cover;
    }

    .card__banned {
      background: url(https://images.unsplash.com/photo-1539278383962-a7774385fa02?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80);
      background-position: center;
      background-size: cover;
    }

    .card__netflix {
      background: url(https://images.unsplash.com/photo-1597575732103-9f6d068cfa9f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80);
      background-position: center;
      background-size: cover;
    }

    .card__comingsoon {
      background: url(https://images.unsplash.com/photo-1597575732103-9f6d068cfa9f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80);
      background-position: center;
      background-size: cover;

      svg {
        margin-right: 10px;
        transform: translate(0, -2px);
        -webkit-animation: location-rotate 2s ease-in-out;
        -webkit-animation-iteration-count: infinite;
      }
    }
  }
}

.blog__area {
  padding: 60px 0;

  .single__post__item {
    margin-bottom: 30px;

    color: #212529;

    img {
      margin-bottom: 20px;
    }

    h1 {
      font-size: 32px;
      margin-bottom: 10px;
    }
    p {
      color: rgb(75, 85, 99);
    }
  }

  .single__post__content {
    margin-bottom: 40px;

    .featured__img__post {
      margin-bottom: 20px;
    }

    pre {
      background: #f9fafb !important;
      color: #1f2937 !important;
      padding: 20px !important;
      border: 1px solid #e1e1e1;
      border-radius: 5px;
    }

    .date {
      font-size: 11px;
      text-transform: uppercase;
      font-weight: 500;
      color: #656d78;
    }

    p {
      color: #777;
      line-height: 1.9;
      margin-bottom: 24px;
      a {
        background-color: rgb(101, 109, 120, 0.1);
        padding: 0 4px;

        &:hover {
          background-color: rgb(101, 109, 120, 0.3);
        }
      }
    }

    h1 {
      &:nth-child(1) {
        font-size: 36px;
        margin-bottom: 20px;
      }
    }
  }
}

.profile__sidebar {
  padding: 0 0 20px;
  text-align: center;

  .background__profile {
    height: 150px;
    background: url(https://images.unsplash.com/photo-1616440537338-1d04df3987f7?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1MXx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-position: center;
    background-size: cover;
  }

  .photo__profile {
    width: 110px;
    height: 110px;
    background: url(https://instagram.fcaw1-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s640x640/148229507_754113411878477_5163449963980895921_n.jpg?tp=1&_nc_ht=instagram.fcaw1-1.fna.fbcdn.net&_nc_cat=105&_nc_ohc=1fviqBy9nfIAX8PLE5M&ccb=7-4&oh=3e915642e49672756de94946a5437642&oe=60855822&_nc_sid=4f375e);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: -55px;
    border: 5px solid white;
  }
}

footer {
  background: #000;
  color: $primary;
  padding: 80px 0;

  a {
    color: $primary;
  }
}

@media only screen and (max-width: 767px) {
  .head__page {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 20px;
    margin-bottom: 35px;
  }

  .blog__area .single__post__content h1:nth-child(1) {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .single__post__item {
    h1 {
      font-size: 26px !important;
    }
  }

  .hero {
    .developer {
      display: none;
    }

    .scafeli {
      width: 200px;
      top: 50%;
    }

    .header__hero {
      padding: 20px 15px;
      display: block;

      p {
        display: none;
      }

      .social {
        ul {
          text-align: center;
          li {
            a {
              padding: 10px 10px;
              margin-left: 0;
            }
          }
        }
      }
    }

    .location {
      bottom: 10px;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .social {
      right: 15px !important;
    }
  }

  .content__one {
    padding: 40px 15px 20px;
  }

  .about__area {
    padding: 30px 15px;
  }

  .cards__projects {
    padding: 30px 0;
  }

  .blog__area {
    padding: 30px 15px;
  }

  .cards__home {
    padding: 30px 0;
  }

  .img__about {
    max-width: 100% !important;
    height: 150px;
  }

  .img__blog {
    max-width: 100% !important;
    height: 150px;
  }

  .cards__area {
    flex-wrap: wrap;
    .card__item {
      position: relative;
      height: 250px !important;
      min-width: 46% !important;
      width: 48% !important;
      margin-bottom: 30px !important;
      overflow: hidden;

      .bottom__link {
        font-size: 12px;
      }

      &:nth-child(2) {
        margin-top: 0px !important;
      }

      &:nth-child(4) {
        margin-top: 0px !important;
      }
    }
  }

  footer {
    a {
      h1 {
        font-size: 18px !important;
      }
    }
  }
}
